<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"  />
<meta name="description" content="Materliu Codes" />
<meta name="keywords" content="life,code,software,development,photography" />
<meta name="author" content="Materliu" />
<link rel="stylesheet" type="text/css" href="/css/default.css" />
<link rel="stylesheet" type="text/css" href="/css/pretty_code.css" />
<link rel="alternate" type="application/atom+xml" href="http://danhixon.github.com/atom.xml" />

<title>web duper - materliu's tech blog</title>
</head>

<body>
<div id="wrap">
	<div id="header">
		<p id="toplinks">

		</p>

		<h1><a
            href="/"><div id="logo"></div>web
            <span class="fade">duper</span></a></h1>
		<div class="slogan">
				<a href="/code.html" class="pink">code{web}</a> :|: 
				<a href="/os.html" class="green">software{tencent}</a> :|:
				<a href="/life.html" class="orange">life{me}</a>
		</div>

</div>

<div id="content">  
  {{ content }}
</div>

<div id="footer">

    <a href="http://www.alloyteam.com">team blog</a> ||
    <a href="http://twitter.com/materliu">twitter</a>

<p>&copy; 2014 <a href="/about.html">materliu</a>

</div>

</div>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48827945-1', 'github.com');
    ga('send', 'pageview');

</script>

</body>
</html>

